<!DOCTYPE html>
<html lang="en">

<head>
    <title>Music App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="/css/musicweb.css">

</head>

<body>
    <header>
        <div class="menu_side">
            <h1>Menu</h1>
            <div class="menu">
                <a class="menu_active" href="#">
                    <i class="fa-solid fa-house" style="color: #ffffff;"></i>
                    Home
                </a>
                <a href="#">
                    <i class="fa-regular fa-image" style="color: #ffffff;"></i>
                    Albums
                </a>
                <a href="#">
                    <i class="fa-solid fa-guitar" style="color: #ffffff;"></i>
                    Artists
                </a>
                <a href="#">
                    <i class="fa-solid fa-music" style="color: #ffffff;"></i>
                    Genres
                </a>
            </div>

            <h1>My Music</h1>
            <div class="menu">
                <a href="#">
                    <i class="fa-solid fa-rotate-left" style="color: #ffffff;"></i>
                    Recently played
                </a>
                <a href="#">
                    <i class="fa-solid fa-heart" style="color: #ffffff;"></i>
                    Favorite
                </a>
                <a href="#">
                    <i class="fa-regular fa-floppy-disk" style="color: #ffffff;"></i>
                    Saved music
                </a>
            </div>

            <h1>Playlists</h1>
            <div class="menu">
                <a href="#">R&B</a>
                <a href="#">Jazz</a>
            </div>

            <h1>Recommended</h1>
            <div class="menu_song">
                <li class="song_item">
                    <span>01</span>
                    <img src="img/taylor.jpg" alt="Taylor Swift">
                    <h5>
                        Love Story
                        <div class="subtitle">Taylor Swift</div>
                        <i class="fa-regular recommendedPlay fa-circle-play" id="1" style="color: #ffffff;"></i>
                    </h5>

                </li>
                <li class="song_item">
                    <span>02</span>
                    <img src="img/theweeknd.jpg" alt="The Weeknd">
                    <h5>
                        Die for you
                        <div class="subtitle">The Weeknd</div>
                        <i class="fa-regular recommendedPlay fa-circle-play" id="2" style="color: #ffffff;"></i>
                    </h5>

                </li>
                <li class="song_item">
                    <span>03</span>
                    <img src="img/sontung.jpg" alt="Sơn Tùng MTP">
                    <h5>
                        Hãy Trao Cho Anh
                        <div class="subtitle">Sơn Tùng MTP</div>
                        <i class="fa-regular recommendedPlay fa-circle-play" id="3" style="color: #ffffff;"></i>
                    </h5>

                </li>
                <li class="song_item">
                    <span>04</span>
                    <img src="img/justin.jpg" alt="Justin Bieber">
                    <h5>
                        What do you mean?
                        <div class="subtitle">Justin</div>
                        <i class="fa-regular recommendedPlay fa-circle-play" id="4" style="color: #ffffff;"></i>
                    </h5>

                </li>
            </div>

        </div>

        <div class="song_side">
            <div class="nav">
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="search">

                </div>
                <img src="img/taylor.jpg" id="avatarUser" class="rounded-circle" alt="avatar">
                <div class="infoUser" id="infoUser">
                    <div class="navUser-1">
                        <img src="img/taylor.jpg" id="avtUser" class="rounded-circle" alt="avatar">
                    </div>
                    <div class="navUser-2">
                        <h2 th:text="${infoUsers.fullName}"></h2>
                        <h3 th:text="${infoUsers.email}"></h3>
                    </div>
                    <div class="navUser-3">
                        <li class="itemUser">
                            <i class="bi bi-gear"></i>
                            <span>Cài đặt</span>
                        </li>

                        <li class="itemUser">
                            <i class="bi bi-question-circle"></i>
                            <span>Trợ giúp</span>
                        </li>

                        <li class="itemUser">
                            <i class="bi bi-chat-square-dots"></i>
                            <span>Gửi ý kiến phản hồi</span>
                        </li>
                        
                        <li class="itemUser">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Đăng xuất</span>
                        </li>
                        
                    </div>
                </div>
            </div>

            <div class="popular_artist">
                <h1>Artist Of Year</h1>
                <img src="img/taylor.jpg" alt="music">
                <div class="about">
                    <li class="info">
                        <span>01</span>
                        <h5>
                            Name
                            <div class="detail">Taylor Swift</div>
                        </h5>
                    </li>
                    <li class="info">
                        <span>02</span>
                        <h5>
                            Date
                            <div class="detail">13 tháng 12, 1989</div>
                        </h5>
                    </li>
                    <li class="info">
                        <span>03</span>
                        <h5>
                            Achievement
                            <div class="detail"> 11 giải Grammy, 34 giải thưởng Âm nhạc Mỹ, 29 giải thưởng Âm nhạc
                                Billboard, 58 kỷ lục Guinness thế giới,...</div>
                        </h5>
                    </li>
                </div>

            </div>
            <div class="popular_albums">
                <div class="albums">
                    <h4>Popular Albums</h4>
                    <div class="btn_s">
                        <i class="bi bi-arrow-left" id="prev"></i>
                        <i class="bi bi-arrow-right" id="next"></i>
                    </div>
                </div>
                <div class="albums_dis">
                    <li class="active albumItem">
                        <div class="albumsPlay">
                            <img src="img/sontung.jpg">
                            <i class="fa-regular fa-circle-play" id="1" style="color: #ffffff;"></i>
                        </div>
                        <h5>
                            HHHHHH
                            <div class="detail">Sơn Tùng MTP</div>
                        </h5>
                    </li>
                    <li class="albumItem">
                        <div class="albumsPlay">
                            <img src="img/sontung.jpg">
                            <i class="fa-regular fa-circle-play" id="2" style="color: #ffffff;"></i>
                        </div>
                        <h5>
                            HHHHHH
                            <div class="detail">Sơn Tùng MTP</div>
                        </h5>
                    </li>
                    <li class="albumItem">
                        <div class="albumsPlay">
                            <img src="img/sontung.jpg">
                            <i class="fa-regular fa-circle-play" id="3" style="color: #ffffff;"></i>
                        </div>
                        <h5>
                            HHHHHH
                            <div class="detail">Sơn Tùng MTP</div>
                        </h5>
                    </li>
                    <li class="albumItem">
                        <div class="albumsPlay">
                            <img src="img/sontung.jpg">
                            <i class="fa-regular fa-circle-play" id="4" style="color: #ffffff;"></i>
                        </div>
                        <h5>
                            HHHHHH
                            <div class="detail">Sơn Tùng MTP</div>
                        </h5>
                    </li>
                    <li class="albumItem">
                        <div class="albumsPlay">
                            <img src="img/sontung.jpg">
                            <i class="fa-regular fa-circle-play" id="5" style="color: #ffffff;"></i>
                        </div>
                        <h5>
                            HHHHHH
                            <div class="detail">Sơn Tùng MTP</div>
                        </h5>
                    </li>
                    <li class="albumItem">
                        <div class="albumsPlay">
                            <img src="img/sontung.jpg">
                            <i class="fa-regular fa-circle-play" id="6" style="color: #ffffff;"></i>
                        </div>
                        <h5>
                            HHHHHH
                            <div class="detail">Sơn Tùng MTP</div>
                        </h5>
                    </li>
                    <li class="albumItem">
                        <div class="albumsPlay">
                            <img src="img/sontung.jpg">
                            <i class="fa-regular fa-circle-play" id="7" style="color: #ffffff;"></i>
                        </div>
                        <h5>
                            HHHHHH
                            <div class="detail">Sơn Tùng MTP</div>
                        </h5>
                    </li>
                    <li class="albumItem">
                        <div class="albumsPlay">
                            <img src="img/sontung.jpg">
                            <i class="fa-regular fa-circle-play" id="7" style="color: #ffffff;"></i>
                        </div>
                        <h5>
                            HHHHHH
                            <div class="detail">Sơn Tùng MTP</div>
                        </h5>
                    </li>
                    <li class="albumItem">
                        <div class="albumsPlay">
                            <img src="img/sontung.jpg">
                            <i class="fa-regular fa-circle-play" id="7" style="color: #ffffff;"></i>
                        </div>
                        <h5>
                            HHHHHH
                            <div class="detail">Sơn Tùng MTP</div>
                        </h5>
                    </li>
                    <li class="albumItem">
                        <div class="albumsPlay">
                            <img src="img/sontung.jpg">
                            <i class="fa-regular fa-circle-play" id="7" style="color: #ffffff;"></i>
                        </div>
                        <h5>
                            HHHHHH
                            <div class="detail">Sơn Tùng MTP</div>
                        </h5>
                    </li>
                </div>

                <script>
                    var prev = document.getElementById("prev");
                    var next = document.getElementById("next");
                    var albumItem = document.getElementsByClassName("albumItem");
                    var albums_dis = document.getElementsByClassName('albums_dis')[0];

                    let i = 0;

                    next.onclick = function () {
                        if (i < 10) {
                            albumItem[i + 1].classList.add("active");
                            albumItem[i].classList.remove("active");
                            i++;
                        }
                        albums_dis.scrollLeft += 120;

                    }

                    prev.onclick = function () {
                        if (i > 0) {
                            albumItem[i - 1].classList.add("active");
                            albumItem[i].classList.remove("active");
                            
                            i--;
                        }
                        albums_dis.scrollLeft -= 120;
                    }

                    document.addEventListener('keydown', function (event) {
                        // Kiểm tra nếu phím nhấn là mũi tên phải (mã phím 39)
                        if (event.keyCode === 39) {
                            next.click(); // Gọi sự kiện click cho nút "Next"
                        }
                        // Kiểm tra nếu phím nhấn là mũi tên trái (mã phím 37)
                        else if (event.keyCode === 37) {
                            prev.click(); // Gọi sự kiện click cho nút "Previous"
                        }
                    });


                </script>


            </div>
            <div class="activity">
                <div class="recently">
                    <h1>Recently Played</h1>
                    <li class="song_item2">
                        <span>01</span>
                        <img src="img/taylor.jpg" alt="Taylor Swift">
                        <h5>
                            Love Story
                            <div class="subtitle">Taylor Swift</div>
                            <i class="fa-regular recentlyPlay fa-circle-play" id="1" style="color: #ffffff;"></i>
                        </h5>
                    </li>
                    <li class="song_item2">
                        <span>02</span>
                        <img src="img/theweeknd.jpg" alt="The Weeknd">
                        <h5>
                            Die for you
                            <div class="subtitle">The Weeknd</div>
                            <i class="fa-regular recentlyPlay fa-circle-play" id="2" style="color: #ffffff;"></i>
                        </h5>

                    </li>
                    <li class="song_item2">
                        <span>03</span>
                        <img src="img/sontung.jpg" alt="Sơn Tùng MTP">
                        <h5>
                            Hãy Trao Cho Anh
                            <div class="subtitle">Sơn Tùng MTP</div>
                            <i class="fa-regular recentlyPlay fa-circle-play" id="3" style="color: #ffffff;"></i>
                        </h5>

                    </li>
                    <li class="song_item2">
                        <span>04</span>
                        <img src="img/justin.jpg" alt="Justin Bieber">
                        <h5>
                            What do you mean?
                            <div class="subtitle">Justin</div>
                            <i class="fa-regular recentlyPlay fa-circle-play" id="4" style="color: #ffffff;"></i>
                        </h5>

                    </li>
                    <li class="song_item2">
                        <span>05</span>
                        <img src="img/theweeknd.jpg" alt="The Weeknd">
                        <h5>
                            Die for you
                            <div class="subtitle">The Weeknd</div>
                            <i class="fa-regular recentlyPlay fa-circle-play" id="5" style="color: #ffffff;"></i>
                        </h5>

                    </li>
                </div>
                <div class="recreational">
                    <img src="img/giphy.gif">
                </div>
            </div>
        </div>
        <div class="master_play">
            <div class="wave">
                <div class="wave1"></div>
                <div class="wave1"></div>
                <div class="wave1"></div>
            </div>

            <img src="img/taylor.jpg" alt="Taylor" id="posterMasterPlay">
            <h5 id="titleMaster">
                Love Story
                <div class="subtitle">Taylor Swift</div>

            </h5>
            <div class="icon">
                <i class="bi bi-share-fill"></i>
                <i class="bi bi-skip-start-fill" id="prevMusic"></i>
                <i class="bi bi-play-fill" id="playMusic"></i>
                <i class="bi bi-skip-end-fill" id="nextMusic"></i>
                <i class="bi bi-repeat"></i>

            </div>
            <span id="currentStart">0:00</span>
            <div class="bar">
                <!-- tạo một thanh trượt (slider) điều chỉnh giá trị từ một giá trị tối thiểu đến một giá trị tối đa. -->
                <input type="range" id="seek" min="0" value="0" max="100">
                <div class="bar2" id="bar2"></div>
                <div class="dot"></div>
            </div>
            <span id="currentEnd">0:00</span>
            <div class="volume">
                <i class="bi bi-volume-down-fill" id="vol_icon"></i>
                <input type="range" id="volume" min="0" value="30" max="100">
                <div class="vol_bar" id="vol_bar"></div>
                <div class="dot" id="vol_dot"></div>
            </div>
        </div>

        
    </header>
    <script src="/js/musicweb.js"></script>
</body>

</html>